<template name="task">
    <!-- BUTTON FOR CREATING NEW TASK -->
    <a href="{{pathFor 'listEdit'}}">
    <div class="clear"></div>
    <div class="well">
        <!-- ASSIGNMENT TITLE -->
        <h3 class="left">{{title}}</h3>
        <h3 class="right">{{date}}</h3>
        <div class="clear"></div>
        <p>{{description}}</p>
    </div>
    <button type="button" class="btn btn-default" id="edit-list">Edit</button>
    </a>
    <button type="button" class="btn btn-default delete-list">Delete</button>
    <button type="button" class="btn btn-default BackList">Back to List</button>
</template>